# editor
.vscode
.idea
*/.idea
*.log
applications/beego/shop/shop
applications/beego/shop/img
.DS_Store
*/.DS_Store
applications/shop/shop
*test.db
libs/crawler/vuejs/crawler.db
libs/crawler/segment/blog/*
libs/crawler/vuejs/test.txt
libs/crawler/segment/crawler.db
libs/crawler/gocn/test.txt
libs/crawler/gocn/crawler.db
*.linux
