{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "header"}}{{end}}
{{define "body"}}
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
  {{template "base/slide.html" .}}
  <div class="am-u-md-8 am-u-sm-12">
    <article class="am-g blog-entry-article">
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
        <img src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
      </div>
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
        <span><a href="" class="blog-color">article &nbsp;</a></span>
        <span> @amazeUI &nbsp;</span>
        <span>2015/10/9</span>
        <h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>
        <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
        </p>
        <p><a href="" class="blog-continue">continue reading</a></p>
      </div>
    </article>

    <article class="am-g blog-entry-article">
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
        <img src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
      </div>
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
        <span><a href="" class="blog-color">article &nbsp;</a></span>
        <span> @amazeUI &nbsp;</span>
        <span>2015/10/9</span>
        <h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>
        <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
        </p>
        <p><a href="" class="blog-continue">continue reading</a></p>
      </div>
    </article>

    <article class="am-g blog-entry-article">
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
        <img src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
      </div>
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
        <span><a href="" class="blog-color">article &nbsp;</a></span>
        <span> @amazeUI &nbsp;</span>
        <span>2015/10/9</span>
        <h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>
        <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
        </p>
        <p><a href="" class="blog-continue">continue reading</a></p>
      </div>
    </article>

    <article class="am-g blog-entry-article">
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
        <img src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
      </div>
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
        <span><a href="" class="blog-color">article &nbsp;</a></span>
        <span> @amazeUI &nbsp;</span>
        <span>2015/10/9</span>
        <h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>
        <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
        </p>
        <p><a href="" class="blog-continue">continue reading</a></p>
      </div>
    </article>
  </div>
  {{template "base/sidebar.html" .}}
</div>
<!-- content end -->
{{end}}
